[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-socketio = "*"
pytest = "*"
python-dotenv = "*"
pymongo = "*"
flask = {extras = ["async"], version = "*"}

[dev-packages]
build = "*"
pytest = "*"
pytest-asyncio = "*"
pylint = "*"
black = "*"
pytest-flask = "*"
coverage = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.10"
