<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skribbl</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap">
  </head>
  <body>
   
      <header>
        <div class="container">
          <div href="{{ url_for('join_game') }}" class="logo">
              <img src="{{ url_for('static', filename='img/logo.png') }}" alt="fizzbuzz.draw Logo">
              <h1>fizzbuzz.draw</h1>
          </div>
          <button id="leave">Leave Game</button>
      </div>
      </header>


      <main>{% block container %} {% endblock %}</main>
      
      <footer>
        <div>
          &copy; 2022. Shared under the GPL3 license. Source code available at
          <a
            href="https://github.com/software-students-spring2024/5-final-project-spring-2024-team-fizzbuzz-final"
            >available on Github</a
          >.
        </div>
      </footer>
   
  </body>
</html>